<%= form_for @recipe do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <fieldset> <p>Ingredients:</p>
    <%= f.fields_for :ingredients do |ingredient| %>
      <%= ingredient.label :name %><br>
      <%= ingredient.text_field :name %><br>

      <%= ingredient.label :quantity %><br>
      <%= ingredient.text_field :quantity %><br>
    <% end %>
  </fieldset>

  <%= f.submit %>

<% end %>
